@model IEnumerable<Drink>
@{
    ViewData["Title"] = "Drink";
}

<h2>Drink</h2>

<a asp-action="Add" asp-controller="Drink" class="btn btn-success mb-1">Add</a>

<table class="table table-bordered table sm">
    <thead class="thead-dark">
        <tr><th>Drink</th><th></th><th>Type</th><th>Price</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Drink d in Model)
        {

        <tr>
            <td>@d.Name</td>
            <td>@d.Category</td>
            <td>@d.Price</td>
            <td>
                <a asp-action="Delete" asp-route-id="@d.Id"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }

    </tbody>

</table>