@{
    ViewBag.Title = "Home";
}

<h1>Welcome to the Beer Places!</h1>

<p>Were drink enthusiasts who love sharing our favorite drinks and where they can be found</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about us</a>
        </div>
    </div>
</div>