@model IEnumerable<Drink>

@{ ViewBag.Title = "Home";
    int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]); }

<h1>Welcome to Beer Places!</h1>

<p>Were drink enthusiasts who love sharing our favorite drinks and where they can be found.  Search for your favorite drink or venue or add them so we can enjoy them too.</p>

