
@{
    ViewData["Title"] = "Add a Location";
}



@model Bar
@{
    ViewData["Title"] = "Add a Location";
}

<h2>Add A Location Here</h2>

<form asp-controller="Bar" method="post" style="border: 1px black">
    <div class="form-row">
        <div class="form-group">
            <label asp-for="Name">Location Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control" placeholder="Street Address and City" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label asp-for="State">State</label>
            <input asp-for="State" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label asp-for="Zip">Zip Code</label>
            <input asp-for="Zip" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-action="Bar" asp-controller="Bar" class="btn btn-outline-dark">Cancel</a>
</form>
