
@model Bar

@{
    ViewData["Title"] = "Delete a Location";
}

<h1 class="display-4">Delete a Location</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.Name
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Bar" asp-controller="Bar" class="btn btn-outline-dark">Cancel</a>
</form>