
@{
    ViewBag.Title = "About";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Beer Places</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AboutUs.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<div class="about-section heading">
    <h1>About Us!</h1>
    <p>We're drink enthusiasts/hoobyist who love sharing our favorite drinks and where they can be found.</p>
    <p>This is our final group project for Web Server Application Development! </p>
</div>

<h2 style="text-align:center; margin-bottom: 50px">Our Team</h2>
<div class="row">

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Alexander Burnett</h2>
                <p class="title">DevOps</p>
                <p>Alexander is a 4th year at UC, studying IT on the software development track.</p>
                <p>burneta3@mail.uc.edu</p>
                <p><a href="mailto:burneta3@mail.uc.edu" class="button">Contact</a></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Jacob Hornung</h2>
                <p class="title">UI Designer</p>
                <p>Jacob is a 4th year at UC, studying IT and focusing on the software development track.</p>
                <p>hornunjb@mail.uc.edu</p>
                <p><a href="mailto:hornunjb@mail.uc.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Michael Palte</h2>
                <p class="title">UI Designer and Integration Specialist</p>
                <p>Michael is a senior at UC studying IT and focusing on the software development track.</p>
                <p>paltemr@mail.uc.edu</p>
                <p><a href="mailto:paltemr@mail.uc.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Paramjyot Sandhu</h2>
                <p class="title">UI Designer</p>
                <p>Paramjyot is a 4th year at UC, studying IT and focusing on the software development track.</p>
                <p>sandhups@mail.uc.edu</p>
                <p><a href="mailto:sandhups@mail.uc.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Jaishri Thakur</h2>
                <p class="title">UI Designer</p>
                <p>
                    Jaishri is a 3rd year student at UC, currently studying IT and focusing on the cybersecurity
                    and software development track.
                </p>
                <p>thakurji@mail.uc.edu</p>
                <p><a href="mailto:thakurji@mail.uc.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Alex Yankosky</h2>
                <p class="title">UI Designer and Integration Specialist</p>
                <p>Alex is a 4th year at UC, studying IT and focusing on the software development track.</p>
                <p>yankosan@mail.uc.edu</p>
                <p><a href="mailto:yankosan@mail.uc.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>
</div>
